
button.buttondir {
margin:15px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 1px 4px 12px #666666;
  -moz-box-shadow: 1px 4px 12px #666666;
  box-shadow: 1px 4px 12px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 21px;
  background: #a1a1a1;
  padding: 15px 20px 80px 20px;
  text-decoration: none;
}


button.buttondir:hover {
  background: #474747;
  text-decoration: none;
}

 